.mines {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(5, 70px);
  gap: 12px;
  margin-top: 10px;
}

.tile {
  width: 70px;
  height: 70px;
  background-color: aqua;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.controls {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button#start-button.disabled {
  opacity: 0.6;
  background-color: gray;
  cursor: not-allowed;
}

.tile.revealed {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile.revealed.mine {
  background: red;
}

.tile.revealed.diamond {
  background: lightgreen;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: 2s;
}

.popup-content {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.popup.hidden {
  display: none;
}
