* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mines {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-color: #005bb5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  overflow: hidden;
}

.container:nth-child(1) img {
  width: 120%;
  transform: translateX(-30%);
}

.container img.rotate {
  width: 120%;
  transform: translateX(30%) rotate(290deg);
}

.game-contant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
  background-color: #002f66;
  padding: 2px;
  border-radius: 8px;
}

.game-bet-coefficient {
  padding: 3px 30px;
  background-color: #001f4d;
  border-radius: 8px;
  color: #fff;
}

.game-current-coefficient {
  padding: 3px 15px;
  background-color: #ffc107;
  border-radius: 8px;
  color: #000;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(5, 70px);
  gap: 8px;
  margin-top: 10px;
}

.tile {
  width: 70px;
  height: 70px;
  background-color: #002f66;
  box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052,
    inset 1px 1px #fff1cd33;
  border: 5px solid #001f4d;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.controls {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150%;
  background-color: #002f66;
  border: 3px solid #001f4d;
  border-radius: 16px;
  padding: 3px 10px;
}

.bet-usd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.bet-info {
  font-size: 12px;
}

.bet-price {
  font-size: 18px;
}

.bet-control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#start-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 150px;
  height: 50px;
  font-size: 18px;
  background-color: #61a503;
  border: 2px solid #2d7500;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052,
    inset 1px 1px #fff1cd33;
  border: 2px solid rgba(0, 0, 0, 0.9);
}

#start-button .button-label {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white;
}
.win-text {
  font-size: 12px;
  color: #fff;
}

.tile.revealed {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile.revealed.mine {
  background: #8b0000;
}

.tile.revealed.diamond {
  background: #ffc107;
}

.tile svg.icon {
  width: 50px;
  height: 50px;
}

.popup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 24px;
  background: rgba(0, 0, 0, 0.85);
  color: #000;
  border-radius: 12px;
  font-size: 20px;
  z-index: 100;
}

.popup-content {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.popup.hidden {
  display: none;
}

.game-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bet-controls-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50%;
  background-color: #005bb5;
  box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052,
    inset 1px 1px #fff1cd33;
  border: 2px solid rgba(0, 0, 0, 0.9);
  border-radius: 12px;
  padding: 5px;
}

.bet-controler {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.full-bet-control {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  width: 100%;
  box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052,
    inset 1px 1px #fff1cd33;
  border: 2px solid rgba(0, 0, 0, 0.9);
  fill: #fff;
}
.animate-flash {
  animation: flash 0.3s ease;
}

@keyframes flash {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.6);
  }
  100% {
    transform: scale(1);
    background-color: transparent;
  }
}
.animate-win {
  animation: pulse-win 0.4s ease;
}

@keyframes pulse-win {
  0% {
    transform: scale(1);
    color: #fff;
  }
  50% {
    transform: scale(1.1);
    color: #00ff00;
  }
  100% {
    transform: scale(1);
    color: #fff;
  }
}
.hidden {
  display: none;
}

.bet-dropdown-wrapper {
  position: relative;
}

.custom-dropdown {
  position: absolute;
  bottom: 35px;
  left: 0;
  background-color: #002f66;
  box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052,
    inset 1px 1px #fff1cd33;
  border: 5px solid #001f4d;
  padding: 10px;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  border-radius: 6px;
  width: 150px;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.dropdown-option {
  color: #fff;
  text-align: end;
  cursor: pointer;
  transition: 2s;
  text-align: center;
  border-radius: 12px;
  padding: 2px;
}

.custom-dropdown.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.dropdown-option:hover {
  background-color: #005bb5;
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.icon {
  opacity: 0;
  animation: fadeInScale 0.3s ease-out forwards;
}
